node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.DS_Store
.vite

# Editor
.idea
.vscode/*
!.vscode/extensions.json

# Fallback log written by contact.php when mail fails
public/.enquiries.log
